extends layout

block content
    div.container
        div.jumbotron(style="overflow:auto;font-size:14px;")
            h4 MediaList:
            table.table.table-striped.table-bordered.table-hover.table-responsive(style="text-align:left;overflow:hidden;")
                tr
                    th Date
                    th Type
                    th MediaID
                    th CreateAt
                    th Path
                    th Oper
                for event in data
                    tr
                        td #{event.date}
                        td #{event.type}
                         - if (event.media_id == null)
                            td
                         - else
                            td #{event.media_id.substr(0,10).concat("...")}
                        td #{event.created_at}
                        td #{event.path}
                        td
                            a.btn.btn-primary.btn-sm(href="/view/#{event.id}") 查看